PORT=8000
MONGODB_URI=mongodb+srv://payal:payal@123@cluster0.yhr3axx.mongodb.netMONGODB_URI
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=chaiorcode
CLOUDINARY_API_KEY=714982421132
CLOUDINARY_API_SECRET=bl0bcdkjdcnndcmncdndkcdnncn
